.container {
    display: flex; /* Utiliza flexbox para distribuir los elementos */
    height: 100vh; /* Altura completa de la ventana */
    font-family: "Mulish", sans-serif; /* Aplica la fuente Mulish */
}

.slider {
    flex: 1; /* Ocupa la mitad izquierda */
    background-color: #f0f0f0; /* Color de fondo */
    overflow: hidden; /* Evita que las imágenes se desborden */
    position: relative; /* Posición relativa para las imágenes */
}

.slider img {
    width: 100%; /* Ancho completo */
    height: 100%; /* Altura completa */
    object-fit: cover; /* Ajusta las imágenes para cubrir */
}

.form-container input,
.form-container button {
    font-family: "Mulish", sans-serif; /* Aplica la fuente Mulish */
}

.form-container {
    max-width: 400px; /* Ancho máximo del formulario */
    width: 100%; /* Ancho completo del contenedor */
    padding: 20px; /* Espacio interno */
    background-color: #ffffff; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
}

.login-form {
    flex: 1; /* Ocupa la mitad derecha */
    display: flex; /* Utiliza flexbox */
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    padding: 20px; /* Espaciado interno */
    background-color: #f0f0f0; /* Color de fondo */
    position: relative; /* Posición relativa */
}

.window {
    width: 100%; /* Ancho completo del contenedor */
    max-width: 500px; /* Ancho máximo de la ventana */
    margin: auto; /* Centra horizontalmente */
    background-color: #ffffff; /* Color de fondo */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra */
    overflow: hidden; /* Oculta contenido desbordado */
}

