{% extends 'todoapp/navbar.html' %}

{% block title %}WC Finder Home{% endblock %}

{% block content %}
        <div class="window-container filter-container">
            <aside class="filter">
                <h4>Filtro</h4>
                <form method="get" id="filterForm">
                    <label for="building">Edificio:</label>
                    <select name="building" id="building">
                        <option value="">Todos los edificios</option>
                        {% for building in buildings %}
                            <option value="{{ building }}" {% if building == selected_building %}selected{% endif %}>
                                {{ building }}
                            </option>
                        {% endfor %}
                    </select>
            
                    <label for="floor">Piso:</label>
                    <select name="floor" id="floor">
                        <option value="">Todos los pisos</option>
                        {% for floor in floors %}
                            <option value="{{ floor }}" {% if floor|stringformat:"i" == selected_floor %}selected{% endif %}>
                                {{ floor }}
                            </option>
                        {% endfor %}
                    </select>
            
                    <label for="gender">Género:</label>
                    <select name="gender" id="gender">
                        <option value="">Todos los géneros</option>
                        {% for gender in genders %}
                            <option value="{{ gender }}" {% if gender == selected_gender %}selected{% endif %}>
                                {{ gender|title }}
                            </option>
                        {% endfor %}
                    </select>
            
                    <button type="submit">Filtrar</button>
                </form>
            </aside>
        </div>

        <div class="window-container bathroom-list-container">
            <section class="bathroom-list">
                <h2>Lista de Baños</h2>
                <!-- Aquí va la lista dinámica de imágenes -->
                <div class="card">
                    {% for bathroom in bathrooms %}
                    <a href="/bathroom/{{ bathroom.id}}" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title">{{ bathroom.name }}</h5>
                        <p class="card-text">Edificio {{ bathroom.building }}, Piso {{ bathroom.floor }}.</p>
                        <p class="card-text">Género: {{ bathroom.get_gender_display }}.</p>
                    </div>
                    </a>
                    {% endfor %}
                </div>
                <!-- Repetir para cada imagen -->
            </section>
        </div>

        <div class="window-container add-button-container">
            <aside class="add-button">
                {% if request.user.is_authenticated %}
                    <p class="add-button-text">¿No encuentras tu baño preferido? ¡Agrega tu baño aquí!</p>
                    <a class="btn btn-primary btn-block" href="/add_bathroom">Agregar Baño</a>  
                {% else %}
                    <p>Por favor, inicia sesión o regístrate para agregar baños.</p>
                    <a class="btn btn-primary btn-block login-btn" href="/login">Iniciar sesión</a>  
                    <a class="btn btn-primary btn-block register-btn" href="/register">Registrarme</a>  
                {% endif %}
            </aside>
        </div>
    </main>
{% endblock %}


