{% extends 'todoapp/menu.html' %}

{% block title %} Inicio tareas {% endblock %}

{% block content %}


<div class="container" style="margin-top: 2em; flex-direction: column">
    {% if messages %}
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}

    <div id="encabezado" class="row">
        <div class="col-12">
            <h1>WC Submission</h1>
            <p class="tagline">Solicita la integración de un baño</p>
        </div>
    </div>
    <div id="segunda-parte">
        <form action="" method="post">
            {% csrf_token %}
            <div class="card" id="nueva-tarea">
                <div class="card-header">
                    Nuevo Baño
                </div>
                <div class="card-body">
                    {{ form_tarea.as_p }}
                    <button class="btn btn-primary" name="taskAdd" type="submit">Solicitar baño</button>
                </div>
            </div>
        </form>
        <div class="card" id="tareas-existentes">
            <div class="card-header d-flex justify-content-between align-items-center">
                <span>Mis solicitudes</span>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseTareas" aria-expanded="true" aria-controls="collapseTareas">
                    <i class="fas fa-chevron-down"></i>
                </button>
            </div>
            <div id="collapseTareas" class="collapse show">
                <ul class="list-group list-group-flush">
                    {% for tarea in tareas %}
                        <li class="list-group-item">
                            <div>
                                <label for="{{ tarea.id }}"><span class="complete-">{{ tarea.titulo }}</span></label>
                                <span class="badge badge-info">{{ tarea.categoria }}</span>
                            </div>
                            <div>
                                <p>{{ tarea.contenido }}</p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div> <!-- Collapse content -->
        </div> <!-- Card -->
    </div> <!-- div segunda parte -->
</div><!-- container -->

<script>
    document.getElementById('tarea.id').addEventListener('submit', function(e) {
        var numTasks = document.querySelectorAll('.list-group-item').length;
        if (numTasks >= 5) {
            alert('No puedes tener más de 5 solicitudes activas.');
            e.preventDefault();  // Detiene el envío del formulario
        }
    });
</script>

{% endblock %}
